# Build artifacts
*.o
*.obj
*.bin
*.iso
*.elf
*.map
*.lst

# Build folders
isodir/
build/
dist/

# Emulator images
*.img
*.qcow2

# Logs/temp
*.log
*.tmp
*~
*.swp

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
